{% extends "base.html" %}

{% load dweb_extras %}  <!-- Load custom template tags -->

{% block title %}Add Tracking Number{% endblock %}

{% block content %}
<table>
    <tr>
        <th>OrderID</th>
        <th>Quantity</th>
        <th>Postage Type</th>
        <th>Address</th>
        <th>Tracking Number</th>
        <th>Action</th>
    </tr>
    {% for order, form in orders|zip_lists:forms %}  <!-- Use the custom filter -->
    <tr>
        <form method="post">
            {% csrf_token %}
            <td>{{ order.order_id }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.postage_type }}</td>
            <td>{{ order.address_line_1 }} {{ order.address_line_2 }} {{ order.suburb }} {{ order.state }} {{ order.postcode }}</td>
            <td>{{ form.tracking_number }}</td>
            <td>
                {{ form.order_id }}
                <button type="submit">Submit</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}