{% extends "base.html" %}
{% block content %}
<table>
    <tbody>
        <tr><td>Inventory:</td><td data-type="number">{{ stats.inventory|floatformat:1 }} grams</td></tr>
        <tr><td>Balance:</td><td data-type="number">$ {{ stats.balance|floatformat:2 }}</td></tr>
        <tr><td>Profit:</td><td data-type="number">$ {{ stats.profit|floatformat:2 }}</td></tr>
        <tr><td>Last Reload:</td><td data-type="datetime">{{ stats.last_reload_formatted }}</td></tr>
        <tr><td>Cost Price:</td><td data-type="number">$ {{ stats.cost_price|floatformat:2 }}</td></tr>
        <tr><td>Total Supplier Debt:</td><td data-type="number">$ {{ stats.total_supplier_debt|floatformat:2 }}</td></tr>
    </tbody>
</table>
{% endblock %}
