{% extends "base.html" %}
{% load tz %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Customer Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td data-type="datetime">{{ sale.datetime|date:"d/m/Y H:i" }}</td>
            <td>{{ sale.customer_name }}</td>
            <td data-type="number">{{ sale.quantity }}</td>
            <td data-type="number">{{ sale.amount|floatformat:2 }}</td>
            <td data-type="number">{{ sale.profit|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}