{% extends "base.html" %}
{% load tz %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Datetime</th>
            <th>Type</th>
            <th>Value</th>
            <th>Loss</th>
        </tr>
    </thead>
    <tbody>
        {% for loss in losses %}
        <tr>
            <td data-type="datetime">{{ loss.datetime }}</td>
            <td>{{ loss.get_type_display }}</td>
            <td data-type="number">{{ loss.value }}</td>
            <td data-type="number">{{ loss.loss|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}