{% extends "base.html" %}
{% load tz %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Total Debt</th>
            <th>Last Change</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.customer_name }}</td>
            <td data-type="number">$ {{ customer.total_debt }}</td>
            <td data-type="datetime">{{ customer.last_change }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <script>
    $(document).ready(function() {
        $('.debt-action').click(function() {
            var customerId = $(this).data('customer');
            var action = $(this).data('action');
            $(this).parent().html('<input type="number" class="debt-amount" placeholder="Amount"><button class="submit-debt" data-customer="' + customerId + '" data-action="' + action + '">Submit</button>');
        });

        $(document).on('click', '.submit-debt', function() {
            var customerId = $(this).data('customer');
            var action = $(this).data('action');
            var amount = $(this).prev('.debt-amount').val();
            $.ajax({
                url: '/debtmanager/update_debt/',
                type: 'POST',
                data: {
                    'customer_id': customerId,
                    'action': action,
                    'amount': amount,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
    alert('Debt updated successfully!');
    $('.debt-amount').val(''); // Clear the amount input
                }
            });
        });
    });
    </script>
{% endblock %}