<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/nav_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/sales_style.css' %}">
    </head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'add_sale' %}">Add Sale</a></li>
            <li><a href="{% url 'view_all_sales' %}">View All Sales</a></li>
            <li><a href="{% url 'add_loss' %}">Add Expense/Usage</a></li>
            <li><a href="{% url 'list_losses' %}">List Expenses</a></li>
            <li><a href="{% url 'add_order' %}">DW: New Order</a></li>
            <li><a href="{% url 'add_tracking_number' %}">DW: Add Tracking</a></li>
            <li><a href="{% url 'add_reload' %}">Reload</a></li>
            <li><a href="{% url 'debt_manager_page' %}">Debt Manager</a></li>
            <li><a href="{% url 'insulin_calculator' %}">Insulin Calculator</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>